<%= form_with url: "/gyms/#{@gym.id}", method: :patch, local: true do |form| %>
   <%= form.label :name %>
   <%= form.text_field :name %>
   <p> Zip Code    <%= form.text_field :zip_code %><br>
      Member Cost <%= form.text_field :member_cost %><br>
      Member Initiation Fee <%= form.text_field :member_initiation_fee %><br>
      Guest Cost  <%= form.text_field :guest_cost %><br>
      Open Status <%= form.text_field :open %><br></p>
   <%= form.submit 'Update Gym' %>
<% end %>
