<%= link_to "members index page", "/members" %>
<%= link_to "gyms index page", "/gyms" %>
<%= link_to "New Gym", "/gyms/new" %>

<h1>All Gyms</h1>
<% @gyms.each do |gym| %>
  <h3><%= gym.name %></h3>
  <h5><%= link_to "Edit #{gym.name}", "/gyms/#{gym.id}/edit" %></h5>
<% end %>
