<%= link_to "members index page", "/members" %>
<%= link_to "gyms index page", "/gyms" %>
<%= link_to "gym members index page", "/gyms/#{@gym.id}/members" %>

<h1><%= @gym.name %></h1>

<p>zip code: <%= @gym.zip_code %> </p>
<p>member cost: <%= @gym.member_cost %> </p>
<p>member initiation fee: <%= @gym.member_initiation_fee %> </p>
<p>guest cost: <%= @gym.guest_cost %> </p>
<p>open: <%= @gym.open %> </p>
<p>member count: <%= @gym.total_members_associated_with_gym %> </p>
