<%= link_to "members index page", "/members" %>
<%= link_to "gyms index page", "/gyms" %>
<%= link_to "Update Member", "/members/#{@member.id}/edit" %>
<%= button_to "Delete Member", "/members/#{@member.id}", method: :delete %>

<h1> <%= @member.first_name %> </h1>

  <p>first_name: <%= @member.first_name %></p>
  <p>last_name: <%= @member.last_name %></p>
  <p>address: <%= @member.address %></p>
  <p>zipcode: <%= @member.zipcode %></p>
  <p>phone: <%= @member.phone %></p>
  <p>dues_current: <%= @member.dues_current %></p>
  <p>created_at <%= @member.created_at %></p>
  <p>updated_at <%= @member.updated_at %></p>
